.container{
    max-width: 65rem;
    margin: 0 auto;
    padding: 4rem 0;

    &-flex{
        display: flex;
    }

    &-grid{
        @media only screen and (max-width: #{map-get($pointsBreak, mobile)}rem){
            display: grid;
            margin: 5rem 0;
        }
    }

    @media only screen and (max-width: #{map-get($pointsBreak, tablet)}rem){
        max-width: calc(100% - 4rem);
        margin: 0 2rem;
        padding: 5rem 0;
    }
}

.header{
    /*flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;*/
    flex: 0 0 45%;
    margin: 4rem 0;

    @media only screen and (max-width: #{map-get($pointsBreak, tablet)}rem){
        margin: 3rem 0;
    }
}

.text{
    margin: 2rem 0 3rem 0;

    &-btn{
        padding: 1rem 2rem;
        background-color: orangered;
        opacity: 60%;
        border-radius: 5rem;

        &-subject{
            padding: 2rem;

            @media only screen and (max-width: #{map-get($pointsBreak, tablet)}rem){
                margin: 1rem 0 0 0;
                width: 13rem;
                padding: 1.5rem 2rem;
            }
        }

        @media only screen and (max-width: #{map-get($pointsBreak, tablet)}rem){
            margin: 1rem 0 0 0;
            width: 13rem;
        }

        &-chevron{
            margin: 0 0 0 1rem;
        }
    }

    &-center{
        text-align: center;
    }

    &-img{
        @media only screen and (max-width: #{map-get($pointsBreak, tablet)}rem){
            margin: 10rem 0;
        }

        @media only screen and (max-width: #{map-get($pointsBreak, mobile)}rem){
            display: none;
        }
    }
}