$containerWidth: 65rem;

$titleSize: (4, 3, 2, 1.5, 1.2, 1.1);

$fontList: (
    DMSans-Bold: 'DMSans-Bold.ttf',
    DMSans-Bolditalic: 'DMSans-Bolditalic.ttf',
    DMSans-Italic: 'DMSans-Italic.ttf',
    DMSans-Medium: 'DMSans-Medium.ttf',
    DMSans-Mediumitalic: 'DMSans-Mediumitalic.ttf',
    DMSans-Regular: 'DMSans-Regular.ttf',
    DMSerifDisplay-Italic: 'DMSerifDisplay-Italic.ttf',
    DMSerifDisplay-Regular: 'DMSerifDisplay-Regular.ttf',
);

$categoriesItemBgImg: (
	home-bg: 'home-bg.jpg',
	tutor-courses-icon1: 'tutor-courses-icon1.jpg',
	tutor-courses-icon2: 'tutor-courses-icon2.jpg',
	tutor-courses-icon3: 'tutor-courses-icon3.jpg',
	tutor-courses-icon4: 'tutor-courses-icon4.jpg',
	tutor-courses-icon5: 'tutor-courses-icon5.jpg',
	tutor-courses-icon6: 'tutor-courses-icon6.jpg',
	tutor-courses-icon7: 'tutor-courses-icon7.jpg',
	tutor-courses-icon8: 'tutor-courses-icon8.jpg',
	tutor-courses-icon9: 'tutor-courses-icon9.jpg',
    tutor-courses-icon10: 'tutor-courses-icon10.jpg',
    tutor-elearning-icon4: 'tutor-elearning-icon4', 
    tutor-elearning-icon5: 'tutor-elearning-icon5', 
    tutor-elearning-icon6: 'tutor-elearning-icon6', 
    tutor-elearning-icon7: 'tutor-elearning-icon7',
    tutor-home-icon1: 'tutor-home-icon1.jpg',
    tutor-home-icon2: 'tutor-home-icon2.jpg',
    tutor-home-icon3: 'tutor-home-icon3.jpg',
    tutor-home-pic3: 'tutor-home-pic3.jpg',
    tutor-how-icon1: 'tutor-how-icon1.jpg',
    tutor-how-icon2: 'tutor-how-icon2.jpg',
    tutor-how-icon3: 'tutor-how-icon3.jpg',
    tutor-how-icon4: 'tutor-how-icon4.jpg',
    tutor-how-icon5: 'tutor-how-icon5.jpg',
    tutor-how-icon6: 'tutor-how-icon6.jpg',
    tutor-sectionbg2: 'tutor-sectionbg2.jpg'
);

$pointsBreak: (
    tablet: 45,
    mobile: 30
);